{% extends "base.html" %}
{% block title %}How to{% endblock %}

{% block content %}
<h8>How to upload a model</h8>
<p>&ensp;</p>
<center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FHF1j52FHCw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>&ensp;</p>
    
</center>
<ol>
    <li>Step 1: Enter model Name and Description</li>
    <li>Step 2: Enter model parameters seperated by commas and withought any spaces like the following: (parameter1,parameter2,parameter3)</li>
    <li>Step 3: You can choose to round the model prediction by checking the checkbox</li>
    <li>Step 4: Upload the model pickle file</li>
    <li>Step 5: You can choose to upload a text file to provide clear instructions for the user</li>
    <li>Step 6: You can choose to upload a text file written in a specific format like the one in the image below so the people you send your model to can write names and catagories in the input boxes rather than just numbers</li>
</ol>
<img src="static/images/howto.png" width="1000px" style="border-radius: 25px; margin-left: 50px">
<p>&ensp;</p>
<p>&ensp;</p>
{% endblock %}